@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // .placeholder {
  // }
}

:root {
  --smallgrid-padding: 1.25rem;
  --mediumgrid-padding: 4.25rem;
  --largegrid-padding: 8.25rem;
  --grid-gutter: 1.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
